name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        lfs: true
    # Need explicit lfs pull since the lfs option in checkout does not checkout
    # the actual files.
    - run: git lfs pull

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build
      uses: docker/build-push-action@v6
      with:
        # Need context to use the pulled lfs files from the previous step
        context: .
        outputs: type=cacheonly
        build-args: |
          BUILD_TYPE:debug
        target: build
